<div class="wrapper">
  <form class="form-signin">
    <h2 class="form-signin-heading">RavenView Technologies</h2>
    <!--<input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" />-->

    <input type="text" class="form-control" [value]="i_uname" (input)="i_uname=$event.target.value" id="uname" name="uname" placeholder="Username" #id_element >

    <!--<input type="password" class="form-control" name="password" placeholder="Password" required=""/>-->

    <input type="password" [value]="i_password"   (input)="i_password=$event.target.value"  placeholder="Password" class="form-control"  id="pass"  #id_value name="psw" required>

    <div>
      <h4>Are you a ..... </h4>
      <select name="users" (change)="changeopt($event)">
        <option value="">-- Select Type --</option>
        <option  id="selopt"  *ngFor="let arr of arrlist" [value]="arr.id" >{{arr.name}}</option>
      </select>
    </div>
    <br>

    <button class="btn btn-lg btn-primary btn-block" type="button"  (click)="enterlogin(id_element.value, id_value.value)" >Login</button>
    <label *ngIf="loginFailed" class="logfail" ><b>{{error_description_login}}</b></label>
  </form>
</div>
